<%- include('partials/header') %>

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.jpg">
    <h4>Strawberry shake</h4>
    <p>Strawberry, ice cream, curd</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.jpg">
    <h4>Sun juice</h4>
    <p>Orange, berry, ice cubes</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.jpg">
    <h4>Tropical Twist</h4>
    <p>Pineapple, peach, Apple juice</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.jpg">
    <h4>Strawberry shake</h4>
    <p>Strawberry, ice cream, curd</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.jpg">
    <h4>Sun juice</h4>
    <p>Orange, berry, ice cubes</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.jpg">
    <h4>Tropical Twist</h4>
    <p>Pineapple, peach, Apple juice</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.jpg">
    <h4>Strawberry shake</h4>
    <p>Strawberry, ice cream, curd</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.jpg">
    <h4>Sun juice</h4>
    <p>Orange, berry, ice cubes</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.jpg">
    <h4>Tropical Twist</h4>
    <p>Pineapple, peach, Apple juice</p>
  </li>
</ul>

<%- include('partials/footer') %>